*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: "Montserrat", sans-serif;
    /*  font-family: "Prosto One", sans-serif;*/
}

a{
    text-decoration: none;
}

.container{
    margin: 0 240px;
}


.nav-bar{
    background-color:#282828;
    width: 100vw;
    height: 65px;
    max-width: 100%;
}

.nav-holder{
    display: flex;
    align-items: center;
    padding-top: 5px;
    justify-content: space-between;
}

.names{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    display: flex;
    width: 12vw;
    justify-content: space-between;
    width: auto;
}

.names a:hover{
    color: #cccccc;
    transform: scale(0.95);
}

.names a{
    color: #fff;
    transition: all 0.2s ease;
    margin-right: 5%;
}

.icons{
    width: 4.5%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.icon1,
.icon2{
    transition: all 0.2s ease;
}

.icon1:hover,
.icon2:hover{
    transform: scale(1.1);
}

.welcome{
    width: 100%;
    height: 75vh;
    background: url('images/Header.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-title{
    color: #fff;
    font-family: "Prosto One", sans-serif;
    font-size: 100px;
    padding-bottom: 38px;
    text-align: center;
}

.of-site{
    color:#171718;
    font-size: 20px;
    font-weight: 500;
    padding: 13px 11px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    left: 36%;
    transition: all 0.2s linear;
    text-align: center;
}

.of-site:hover{
    background-color: #cccccc;
}

main{
    background-color: rgb(20, 20, 20);
    height: 100%;
}

.desc{
    color: #fff;
}

.card1{
    width: auto;
    padding-top: 15%;
}

.card1-desc{
    width: 25vw;
    height: 20%;
    margin-right: auto;    
}

.card1,
.card2,
.card3{
    display: flex;
    align-items: center;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}



.card2{
    margin-top: 5%;
}

.card2-desc{

    margin-left: auto;
    width: 25vw;
}

.card3{
    margin-top: 5%;
}

.card3-desc{
    width: 20%;

    margin-right: auto;
    position: relative;
    left: 0;
}



.card3-desc::after{
    content: '';
    background-color: #fff;
    width: 130px;
    height: 2px;
    position: absolute;
    top: 35px;
    left: 350px;
}

.card3-desc2{
    width: 20%;
    margin-top: 18%;
    margin-left: auto;
}

.card3-desc2::before{
    content: '';
    background-color: #fff;
    width: 130px;
    height: 2px;
    position: absolute;
    top: 300px;
    left: 900px;
}

.iphones{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-top: 10%;
    padding-bottom: 5%;
    text-align: center;
}

.iphone-card{
    background-color: #fff;
    border-radius: 5px;
    width: auto;
    height: auto;
}

.iphone-holder{
    padding-top: 5%;
}

.iphone-title{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

.iphone-desc{
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.iphone-holder a{
    padding: 7px 57px;
    background-color: black;
    color: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
}

.iphone-holder img{
    padding-bottom: 10px;
}


footer{
    width: 100vw;
    height: 215px;
    background-color: 
    #282828;
    max-width: 100%;
}

.footer-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

@media (max-width:1650px){
    .card3-desc2::before,
    .card3-desc::after{
        display: none;
    }

    .container{
        margin: 0 200px;
    }

    .card1-desc{
        margin: 0 5%;
    }


}

@media (max-width:1160px){
    .container{
        margin: 0;
    }


    .cards{
        text-align: center;
        margin: 0 5%;
    }



    .icons{
        margin-right: 5%;
        display: block;
    }

    .nav-holder{
        justify-content: space-around;
    }

    .footer-holder{
        padding: 5% 0 ;
    }


}

@media (max-width:700px){

    .desc{
        margin: 10% 0;
        width: auto;
    }

    .card2-desc{
        margin-top: 5%;
    }

    .card3-desc{
        margin-bottom: 5%;
    }

    .card3-desc2{
        margin-top: 5%;
    }

    .card1,
    .card2,
    .card3{
        padding:5% 0;
        text-align: center;
        display: block;
        width: auto;
    }
    .card1 img,
    .card2 img{
        width: 90%;
    }

    .card3 img{
        width: 50%;
    }


    .iphones{
        display: block;
        text-align: center;
    }

    .iphone-card{
        width: 80%;
        position: relative;
        left: 9%;
        padding-bottom: 5%;
        margin-bottom: 3%;
    }

    .footer-icons{
        position: relative;
        right: 5%;
    }
}


@media (max-width:460px){
    .footer-icons{
        margin-right: 10%;
        position: static;
        width: auto;
        text-align: center;
    }

    .nav-holder{
        position: relative;
        right:2%;
    }

    .welcome-title{
        width: auto;    
        font-size: 80px;
        position: relative;
    }

    .welcome a{
        position: relative;
        left: 29%;
    }

    .cards{
        width: auto;
    }

    .header-names{
        width: auto;
        position: relative;
        left: -4%;
    }

    .footer-names{
        left:-2%;
    }

    .icons{
        margin: 0;
    }

    footer{
        height: 130px;
    }

    .footer-holder{
        padding: 8% 0;
    }
    .footer-icons img{
        width: 35%;
    }
}